*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    max-width: 1400px;
    text-align: center;
    padding-top: 107px;
    padding-bottom: 107px;
}

/* Style Header */
.title {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #212121;
    text-transform:uppercase;
}
hr {
    width: 64px;
    height: 2px;
    border: none;
    background: #FF8B38;
    margin: 30px auto;

}
.subtitle { 
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #86878B;

}

/* Style Main */
main {
    margin-top: 80px;
}
.sidebar {
    display: inline-block;
    width: 350px;
    margin: 0 18px;
}
.sidebar h2 {
    font-family: 'Open Sans', sans-serif;
    margin:29px 0 ;
    font-size: 20px;
    font-weight: 700;
    color: #333333;
}
.sidebar p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #86878B;
}
.icon {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    border: 2px solid #FF8B38;
    border-radius: 50%; /* Окружность */
}
.icon-lightbulb {
    background: url(../img/icon-lightbulb.png) no-repeat center center;
}
.icon-keyboard {
    background: url(../img/icon-keyboard.png) no-repeat center center;
}
.icon-storm {
    background: url(../img/icon-storm.png) no-repeat center center;
}